# Ethan Melsheimer
## 2/9/2023
### Python - Built-in Data Structures - Dictionaries {}

In [1]:
d = {'k1':'value1', 'k2':'value2', 'k3':'value3'}

In [2]:
d

{'k1': 'value1', 'k2': 'value2', 'k3': 'value3'}

In [3]:
type(d)

dict

In [4]:
dict2 = {'brand': 'BMW', 'model': 'X3', 'year':2023, 'vin': 'ABCDE123456789'}

In [5]:
dict2

{'brand': 'BMW', 'model': 'X3', 'year': 2023, 'vin': 'ABCDE123456789'}

In [6]:
dict2['brand']

'BMW'

In [7]:
dict2['vin']

'ABCDE123456789'

In [8]:
dict2.keys()

dict_keys(['brand', 'model', 'year', 'vin'])

In [9]:
dict2.values()

dict_values(['BMW', 'X3', 2023, 'ABCDE123456789'])

In [10]:
dict2.items()

dict_items([('brand', 'BMW'), ('model', 'X3'), ('year', 2023), ('vin', 'ABCDE123456789')])

In [11]:
dict3 = {'no':5,'cis':[200,240,310,340,350], 'crn':('001', '002', '003', '004', '005', '006')}

In [12]:
dict3

{'no': 5,
 'cis': [200, 240, 310, 340, 350],
 'crn': ('001', '002', '003', '004', '005', '006')}

In [13]:
print(dict3)

{'no': 5, 'cis': [200, 240, 310, 340, 350], 'crn': ('001', '002', '003', '004', '005', '006')}

In [14]:
dict3['cis']

[200, 240, 310, 340, 350]

In [15]:
dict3['cis'][-1]

350

In [16]:
dict3['ins'] = ('Ramadan', 'Nick', 'Leo', 'Jon')

In [17]:
dict3

{'no': 5,
 'cis': [200, 240, 310, 340, 350],
 'crn': ('001', '002', '003', '004', '005', '006'),
 'ins': ('Ramadan', 'Nick', 'Leo', 'Jon')}

In [18]:
dict3['ins'][0]

'Ramadan'

In [19]:
dict3['ins'][0].upper()

'RAMADAN'

In [20]:
dict3['ins']

('Ramadan', 'Nick', 'Leo', 'Jon')

In [21]:
dict3

{'no': 5,
 'cis': [200, 240, 310, 340, 350],
 'crn': ('001', '002', '003', '004', '005', '006'),
 'ins': ('Ramadan', 'Nick', 'Leo', 'Jon')}

In [22]:
dict3['no'] = 8

In [23]:
dict3

{'no': 8,
 'cis': [200, 240, 310, 340, 350],
 'crn': ('001', '002', '003', '004', '005', '006'),
 'ins': ('Ramadan', 'Nick', 'Leo', 'Jon')}

In [24]:
dict3['cis'][-2] = 320

In [25]:
dict3

{'no': 8,
 'cis': [200, 240, 310, 320, 350],
 'crn': ('001', '002', '003', '004', '005', '006'),
 'ins': ('Ramadan', 'Nick', 'Leo', 'Jon')}

In [26]:
dict3['college'] = 'COB'

In [27]:
dict3

{'no': 8,
 'cis': [200, 240, 310, 320, 350],
 'crn': ('001', '002', '003', '004', '005', '006'),
 'ins': ('Ramadan', 'Nick', 'Leo', 'Jon'),
 'college': 'COB'}

In [28]:
dict4 = {}

In [29]:
dict4['fruit'] = 'Apple'

In [30]:
dict4

{'fruit': 'Apple'}

In [32]:
dict4['number'] = 1

In [33]:
dict4

{'fruit': 'Apple', 'number': 1}

In [34]:
dict4['taste'] = ['Sour', 'Sweet', 'Salty', 'Bitter']

In [35]:
dict4

{'fruit': 'Apple', 'number': 1, 'taste': ['Sour', 'Sweet', 'Salty', 'Bitter']}

In [36]:
w = {'hello', 'hello', 'where', 'who', 'who', 'who'}

In [37]:
type(w)

set

In [38]:
dict4['words'] = w

In [39]:
dict4

{'fruit': 'Apple',
 'number': 1,
 'taste': ['Sour', 'Sweet', 'Salty', 'Bitter'],
 'words': {'hello', 'where', 'who'}}

In [40]:
#nested-dictionaries
d = {'k1':{'k2':{'k3': 'value1'},'k3':'value2'},'k4':{'value4', 'value5'}}

In [41]:
d

{'k1': {'k2': {'k3': 'value1'}, 'k3': 'value2'}, 'k4': {'value4', 'value5'}}

In [42]:
d.keys()

dict_keys(['k1', 'k4'])

In [43]:
d.values()

dict_values([{'k2': {'k3': 'value1'}, 'k3': 'value2'}, {'value5', 'value4'}])

In [44]:
d.items()

dict_items([('k1', {'k2': {'k3': 'value1'}, 'k3': 'value2'}), ('k4', {'value5', 'value4'})])

In [45]:
d['k1']

{'k2': {'k3': 'value1'}, 'k3': 'value2'}

In [46]:
d['k1'].keys()

dict_keys(['k2', 'k3'])

In [47]:
d['k1']['k2']

{'k3': 'value1'}

In [48]:
d['k1']['k2']['k3']

'value1'

In [49]:
d.keys()

dict_keys(['k1', 'k4'])

In [50]:
d['k4']

{'value4', 'value5'}

In [51]:
type(d['k4'])

set

In [55]:
myFamily = {
    'child1': {'name':'Jen','DoB':'01/01/2000'},
    'child2': {'name':'Alice','DoB':'06/01/2004'},
    'child3': {'name':'Bob','DoB':'10/16/2008'},
    'spouse': {'name':'Jon','DoB':'12/20/1978', 'MD':'08/08/1998'}
}

In [56]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [57]:
myFamily.keys()

dict_keys(['child1', 'child2', 'child3', 'spouse'])

In [58]:
len(myFamily)

4

In [59]:
myFamily['child2']

{'name': 'Alice', 'DoB': '06/01/2004'}

In [60]:
myFamily['child2']['name']

'Alice'

In [61]:
myFamily['child2'].keys()

dict_keys(['name', 'DoB'])

In [62]:
myFamily['spouse']

{'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}

In [63]:
# get()
myFamily.get('child3')

{'name': 'Bob', 'DoB': '10/16/2008'}

In [64]:
# remove element
dict2

{'brand': 'BMW', 'model': 'X3', 'year': 2023, 'vin': 'ABCDE123456789'}

In [65]:
dict2.pop('vin')

'ABCDE123456789'

In [66]:
dict2

{'brand': 'BMW', 'model': 'X3', 'year': 2023}

In [67]:
item = dict2.popitem()

In [68]:
item

('year', 2023)

In [69]:
dict2

{'brand': 'BMW', 'model': 'X3'}

In [70]:
anotherFamily = myFamily.copy()

In [71]:
anotherFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [72]:
# casting between list and tuple and set
t = (1,2,3,4)
l = list(t)

In [73]:
t

(1, 2, 3, 4)

In [74]:
l

[1, 2, 3, 4]

In [76]:
t2 = tuple(l)

In [77]:
t2

(1, 2, 3, 4)

In [78]:
s = {1,2,3,4,5,5,5,5,3,4,4,4,4,2,2,2,2,1,1,1,3}

In [79]:
s

{1, 2, 3, 4, 5}

In [80]:
l = list(s)

In [81]:
l

[1, 2, 3, 4, 5]

In [82]:
t = tuple(s)

In [83]:
t

(1, 2, 3, 4, 5)

In [84]:
d = dict(s)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [85]:
d = dict(1)

TypeError: 'int' object is not iterable