# Ethan Melsheimer
## 2/9/2023
### Python - Files Basics

In [1]:
%%writefile file1.txt
Hi, I am student in CIS310

Overwriting file1.txt

In [2]:
pwd

'C:\\Users\\andaconda\\notebooks\\Week 4'

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 5C98-3B99

 Directory of C:\Users\andaconda\notebooks\Week 4

02/14/2023  07:40 PM    <DIR>          .
02/14/2023  07:40 PM    <DIR>          ..
02/09/2023  08:36 PM    <DIR>          .ipynb_checkpoints
02/14/2023  07:33 PM               657 company_sales_data.csv
02/14/2023  07:33 PM                65 example_1.json
02/14/2023  07:33 PM               947 example_2.json
02/14/2023  07:39 PM                28 file1.txt
02/14/2023  07:33 PM           134,584 medals.csv
02/09/2023  08:37 PM            26,246 py_dictionaries.ipynb
02/14/2023  07:40 PM             1,045 py_files.ipynb
02/07/2023  08:35 PM             6,952 py_sets.ipynb
02/07/2023  08:25 PM             6,678 py_tubles.ipynb
               9 File(s)        177,202 bytes
               3 Dir(s)  30,521,475,072 bytes free

In [4]:
f = open("file1.txt")

In [5]:
f.read()

'Hi, I am student in CIS310\n'

In [6]:
f.read()

''

In [7]:
f.seek(0)

0

In [8]:
f.read()

'Hi, I am student in CIS310\n'

In [9]:
f.seek(0)

0

In [10]:
f.readline()

'Hi, I am student in CIS310\n'

In [11]:
%%writefile demofile.txt
Hi, Welcome to Python Files.
This file is only for testing.
You can put any text in it.
Good Luck!

Writing demofile.txt

In [12]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 5C98-3B99

 Directory of C:\Users\andaconda\notebooks\Week 4

02/14/2023  07:46 PM    <DIR>          .
02/14/2023  07:46 PM    <DIR>          ..
02/09/2023  08:36 PM    <DIR>          .ipynb_checkpoints
02/14/2023  07:33 PM               657 company_sales_data.csv
02/14/2023  07:46 PM               103 demofile.txt
02/14/2023  07:33 PM                65 example_1.json
02/14/2023  07:33 PM               947 example_2.json
02/14/2023  07:39 PM                28 file1.txt
02/14/2023  07:33 PM           134,584 medals.csv
02/09/2023  08:37 PM            26,246 py_dictionaries.ipynb
02/14/2023  07:46 PM             4,827 py_files.ipynb
02/07/2023  08:35 PM             6,952 py_sets.ipynb
02/07/2023  08:25 PM             6,678 py_tubles.ipynb
              10 File(s)        181,087 bytes
               3 Dir(s)  30,287,257,600 bytes free

In [13]:
myFile =open("demofile.txt","r")

In [14]:
myFile.read()

'Hi, Welcome to Python Files.\nThis file is only for testing.\nYou can put any text in it.\nGood Luck!\n'

In [15]:
myFile.read()

''

In [16]:
myFile.seek(0)

0

In [17]:
myFile.readline()

'Hi, Welcome to Python Files.\n'

In [18]:
myFile.readline()

'This file is only for testing.\n'

In [19]:
myFile.readline()

'You can put any text in it.\n'

In [20]:
myFile.readline()

'Good Luck!\n'

In [21]:
myFile.readline()

''

In [22]:
myFile.seek(0)

0

In [23]:
myFile.readlines()

['Hi, Welcome to Python Files.\n',
 'This file is only for testing.\n',
 'You can put any text in it.\n',
 'Good Luck!\n']

In [24]:
myFile.readlines()

[]

In [25]:
myFile.seek(0)

0

In [27]:
myFile.readlines()[1]

'This file is only for testing.\n'

In [28]:
myFile.seek(0)

0

In [29]:
myFile.readlines(2)

['Hi, Welcome to Python Files.\n']

In [30]:
#to write data to file
fw = open("file.txt","w+")

In [31]:
fw.read()

''

In [32]:
f.seek(0)

0

In [33]:
f.read(0)

''

In [34]:
fw.write("This is a new line")

18

In [35]:
fw.read()

''

In [36]:
fw.seek(0)

0

In [37]:
fw.read()

'This is a new line'

In [38]:
fw.write("This is another line")

20

In [39]:
fw.read()

''

In [40]:
fw.seek(0)

0

In [41]:
fw.read()

'This is a new lineThis is another line'

In [42]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 5C98-3B99

 Directory of C:\Users\andaconda\notebooks\Week 4

02/14/2023  07:58 PM    <DIR>          .
02/14/2023  07:58 PM    <DIR>          ..
02/09/2023  08:36 PM    <DIR>          .ipynb_checkpoints
02/14/2023  07:33 PM               657 company_sales_data.csv
02/14/2023  07:46 PM               103 demofile.txt
02/14/2023  07:33 PM                65 example_1.json
02/14/2023  07:33 PM               947 example_2.json
02/14/2023  07:55 PM                 0 file.txt
02/14/2023  07:39 PM                28 file1.txt
02/14/2023  07:33 PM           134,584 medals.csv
02/09/2023  08:37 PM            26,246 py_dictionaries.ipynb
02/14/2023  07:58 PM            13,946 py_files.ipynb
02/07/2023  08:35 PM             6,952 py_sets.ipynb
02/07/2023  08:25 PM             6,678 py_tubles.ipynb
              11 File(s)        190,206 bytes
               3 Dir(s)  30,286,778,368 bytes free

In [45]:
fa = open("file1.txt","a+")
fa.write("\nThis is a second line added to file1.txt!")
fa.write("\nThis is another line, I can append more lines with the fa variable!")

68

In [44]:
fa.seek(0)

0

In [47]:
fa.readlines()

[]

In [48]:
fw = open("file1.txt","w+")

In [50]:
fw.seek(0)

0

In [51]:
fw.read()

''

In [52]:
fa.close()

In [55]:
fw.close()

In [56]:
f.close()

In [57]:
#csv and json files

In [58]:
import pandas as pd

In [59]:
# read online data
myData = pd.read_csv("http://winterolympicsmedals.com/medals.csv")

In [62]:
myData

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [63]:
type(myData)

pandas.core.frame.DataFrame

In [64]:
myData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [65]:
year = myData['Year'].tolist()

In [66]:
year

[1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1924,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1928,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1932,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1936,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1948,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1952,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1956,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1960,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1964,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1968,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1972,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1976,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 1980,
 ...]

In [67]:
myData

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [68]:
#saving dataframe as csv files
myData.to_csv("df_to_CSV_File.csv")

In [69]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 5C98-3B99

 Directory of C:\Users\andaconda\notebooks\Week 4

02/14/2023  08:21 PM    <DIR>          .
02/14/2023  08:21 PM    <DIR>          ..
02/09/2023  08:36 PM    <DIR>          .ipynb_checkpoints
02/14/2023  07:33 PM               657 company_sales_data.csv
02/14/2023  07:46 PM               103 demofile.txt
02/14/2023  08:21 PM           147,343 df_to_CSV_File.csv
02/14/2023  07:33 PM                65 example_1.json
02/14/2023  07:33 PM               947 example_2.json
02/14/2023  07:58 PM                38 file.txt
02/14/2023  08:03 PM                 0 file1.txt
02/14/2023  07:33 PM           134,584 medals.csv
02/09/2023  08:37 PM            26,246 py_dictionaries.ipynb
02/14/2023  08:20 PM            53,414 py_files.ipynb
02/07/2023  08:35 PM             6,952 py_sets.ipynb
02/07/2023  08:25 PM             6,678 py_tubles.ipynb
              12 File(s)        377,027 bytes
               3 Dir(s)  30,274,150,400 bytes free

In [70]:
# read data from a local csv file
data = pd.read_csv("company_sales_data.csv")

In [71]:
data

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600
5,6,2760,1555,4890,7490,1890,1555,20140,201400
6,7,2980,1120,4780,8980,1780,1120,29550,295500
7,8,3700,1400,5860,9960,2860,1400,36140,361400
8,9,3540,1780,6100,8100,2100,1780,23400,234000
9,10,1990,1890,8300,10300,2300,1890,26670,266700
10,11,2340,2100,7300,13300,2400,2100,41280,412800
11,12,2900,1760,7400,14400,1800,1760,30020,300200

In [72]:
data["month_number"]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
Name: month_number, dtype: int64

In [75]:
month = data["month_number"].tolist()

In [76]:
month

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [77]:
# json files 
import json

In [78]:
# create a dictionary 
dt = {"id": "4488", "name": "Ramadan", "department": "CIS"
}

In [79]:
type(dt)

dict

In [81]:
jf = json.dumps(dt, indent=5)

In [82]:
print(jf)

{
     "id": "4488",
     "name": "Ramadan",
     "department": "CIS"
}

In [84]:
# save data to json file
outfile = open("sample.json","w")
json.dump(dt,outfile)

In [85]:
jf = open('example_1.json')
jd = json.load(jf)

In [86]:
jd

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [87]:
type(jd)

dict

In [88]:
jd['size']

'Large'

In [89]:
jf = open('example_2.json')
jd = json.load(jf)

In [90]:
jd

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [91]:
print(jd)

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}}

In [96]:
jd['quiz']['sport']['q1']

{'question': 'Which one is correct team name in NBA?',
 'options': ['New York Bulls',
  'Los Angeles Kings',
  'Golden State Warriros',
  'Huston Rocket'],
 'answer': 'Huston Rocket'}

In [97]:
dt = jd['quiz']['sport']['q1']

In [98]:
dt['question']

'Which one is correct team name in NBA?'

In [100]:
dt['options']

['New York Bulls',
 'Los Angeles Kings',
 'Golden State Warriros',
 'Huston Rocket']