# Ethan Melsheimer
## 2/23/2023
### Python List Comprehension

**List Comprehension Format**
<code> new_list = [expression for member in iterable] <code/>
    
    
**Using Conditional Logic**
    
<code> new_list = [expression for member in iterable (if conditional)] <code>
<code> new_list = [expression (if conditional) for member in iterable] <code>

In [1]:
lst = []
for l in 'hello':
    lst.append(l)
    
lst

['h', 'e', 'l', 'l', 'o']

In [2]:
lst = [l for l in 'hello']
lst

['h', 'e', 'l', 'l', 'o']

In [3]:
squares = []
for num in range(1,11):
    squares.append(num*num)
    
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
lst = [num**2 for num in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# Filter
squares = []
for num in range(1,11):
    if num % 2 == 0:
        squares.append(num*num)
        
squares

[4, 16, 36, 64, 100]

In [7]:
lst = [num**2 for num in range(1,11) if num % 2 == 0]
lst

[4, 16, 36, 64, 100]

In [8]:
sales = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_sales = [num if num > 0 else 0 for num in sales]
new_sales

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [9]:
c_lst = [4,10,20,25.5,15.8,0,14.9]
f_lst = [((9/5)* t + 32) for t in c_lst]
f_lst

[39.2, 50.0, 68.0, 77.9, 60.44, 32.0, 58.82]

In [10]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = 0.08
final_price = [num * (1+ TAX_RATE) for num in txns]
final_price

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]