# Ethan Melsheimer
## Week 13 - 04/11/2023
### Python - Pandas Series and DataFrame

In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [3]:
mydataset = { 'cars' : ["GMC", "Toyota", "Ford"], 'seats': [8,6,8]
    }
mydataset

{'cars': ['GMC', 'Toyota', 'Ford'], 'seats': [8, 6, 8]}

In [4]:
df = DataFrame(mydataset)
df

     cars  seats
0     GMC      8
1  Toyota      6
2    Ford      8

In [5]:
print(pd.__version__)

1.0.5

In [6]:
# Panda Series 
s = Series([2,5,7,-9,10,1])
s

0     2
1     5
2     7
3    -9
4    10
5     1
dtype: int64

In [7]:
s.values

array([ 2,  5,  7, -9, 10,  1], dtype=int64)

In [8]:
s[1]

5

In [9]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [10]:
# Create Labels 
s = pd.Series([10,5,30,40], index = ['x','y','w','z'])
s

x    10
y     5
w    30
z    40
dtype: int64

In [11]:
s['x']

10

In [12]:
s['x'] = 20

In [13]:
s

x    20
y     5
w    30
z    40
dtype: int64

In [14]:
# creating series from numpy array
data = np.array(['a','b','c','d'])
s = Series(data, index=[100,101,102,103])
s

100    a
101    b
102    c
103    d
dtype: object

In [15]:
s[100]

'a'

In [16]:
summer_olympic = Series([2520,1122,937,847,713],
                       index=['USA','Germany','Russia','UK','France'])
summer_olympic

USA        2520
Germany    1122
Russia      937
UK          847
France      713
dtype: int64

In [17]:
summer_olympic["USA"]

2520

In [18]:
summer_olympic[summer_olympic>800]

USA        2520
Germany    1122
Russia      937
UK          847
dtype: int64

In [19]:
'UK' in summer_olympic

True

In [20]:
'Italy' in summer_olympic

False

In [21]:
# Convert Series to Dictionary 
d = summer_olympic.to_dict()
d

{'USA': 2520, 'Germany': 1122, 'Russia': 937, 'UK': 847, 'France': 713}

In [22]:
#Convert dictionary to Series
summer_olympic_new = Series(d)
summer_olympic_new

USA        2520
Germany    1122
Russia      937
UK          847
France      713
dtype: int64

In [23]:
# Redefine a Series
lst = ['Russia','France','Spain','Germany','USA','UK','Italy']

s = Series(d, index=lst)
s

Russia      937.0
France      713.0
Spain         NaN
Germany    1122.0
USA        2520.0
UK          847.0
Italy         NaN
dtype: float64

In [24]:
pd.isnull(s)

Russia     False
France     False
Spain       True
Germany    False
USA        False
UK         False
Italy       True
dtype: bool

In [25]:
summer_olympic

USA        2520
Germany    1122
Russia      937
UK          847
France      713
dtype: int64

In [26]:
summer_olympic.name= "Summer Olympic"

In [27]:
summer_olympic

USA        2520
Germany    1122
Russia      937
UK          847
France      713
Name: Summer Olympic, dtype: int64

In [28]:
summer_olympic.index.name='Countries'

In [29]:
summer_olympic

Countries
USA        2520
Germany    1122
Russia      937
UK          847
France      713
Name: Summer Olympic, dtype: int64