# Ethan Melsheimer
## 2/16/2023 - 2/21/2023
### Python Statements For Loop

**General for loops format:**

    <code> for item in object:
        statements to execute </code>

In [1]:
sc = [68,87,90,89,92,78,88,75,79,85]

In [2]:
for n in sc:
    print("n=", n)

n= 68
n= 87
n= 90
n= 89
n= 92
n= 78
n= 88
n= 75
n= 79
n= 85

In [8]:
for l in "I am a student in CIS310!":
    print(l,end=" ")
    
print("\nDone!")

I   a m   a   s t u d e n t   i n   C I S 3 1 0 !
Done!

In [9]:
sc

[68, 87, 90, 89, 92, 78, 88, 75, 79, 85]

In [10]:
4 % 2 == 0

True

In [11]:
5 % 2 == 0

False

In [12]:
for n in sc:
    print("n=",n)

n= 68
n= 87
n= 90
n= 89
n= 92
n= 78
n= 88
n= 75
n= 79
n= 85

In [14]:
for n in sc:
    if n % 2 == 0:
        print("n=",n)
    else:
        print(n," is odd score!")

n= 68
87  is odd score!
n= 90
89  is odd score!
n= 92
n= 78
n= 88
75  is odd score!
79  is odd score!
85  is odd score!

In [18]:
even =[]
odd =[]
for n in sc:
    if n % 2 == 0:
        print("n=",n)
        even.append(n)
    else:
        print(n," is odd score!")
        odd.append(n)
        
print('even list: ', even)
print('odd list: ', odd)

n= 68
87  is odd score!
n= 90
89  is odd score!
n= 92
n= 78
n= 88
75  is odd score!
79  is odd score!
85  is odd score!
even list:  [68, 90, 92, 78, 88]
odd list:  [87, 89, 75, 79, 85]

In [19]:
sc

[68, 87, 90, 89, 92, 78, 88, 75, 79, 85]

In [20]:
sum=0
for n in sc:
    sum = sum + n
    
print("sum= ", sum)

sum=  831

In [22]:
avg = sum / len(sc)
print('avg=', avg)

avg= 83.1

In [2]:
t  = (5,7,9,10,14)
for n in t:
    print(n)

5
7
9
10
14

In [3]:
ls1 = [10,30,50,70,90]
ls2 = [20,40,60,80,100]
ls = list(zip(ls1,ls2))

In [4]:
ls

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [5]:
for t in ls: 
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [7]:
for (t1,t2) in ls:
    print('t1 = ', t1, end=" ")
    print('t2= ', t2)

t1 =  10 t2=  20
t1 =  30 t2=  40
t1 =  50 t2=  60
t1 =  70 t2=  80
t1 =  90 t2=  100

In [11]:
# dictionary 
dt = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(dt, ' ', type(dt))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}   <class 'dict'>

In [12]:
print(dt.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [13]:
list(dt.items())

[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [14]:
tuple(dt.items())

(('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964))

In [15]:
dt.keys()

dict_keys(['brand', 'model', 'year'])

In [16]:
dt.values()

dict_values(['Ford', 'Mustang', 1964])

In [17]:
for item in dt:
    print(item)

brand
model
year

In [18]:
for item in dt.items():
    print(item)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [20]:
for k,v in dt.items():
    print(f'Key: {k}, value: {v}')

Key: brand, value: Ford
Key: model, value: Mustang
Key: year, value: 1964

In [21]:
for k in dt.items():
    print(f'Key: {k}')

Key: ('brand', 'Ford')
Key: ('model', 'Mustang')
Key: ('year', 1964)

In [22]:
for v in dt.values():
    print(f'value: {v}')

value: Ford
value: Mustang
value: 1964

In [23]:
t = tuple(dt.items())

In [24]:
t

(('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964))

In [25]:
for item in t:
    print(item)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [26]:
# set
s = {'CIS200','CIS240','CIS310','CIS340','CIS350'}
s

{'CIS200', 'CIS240', 'CIS310', 'CIS340', 'CIS350'}

In [27]:
for c in s:
    print(c)

CIS240
CIS200
CIS340
CIS350
CIS310

In [28]:
# Break and continue
fruits = ['Apple', 'Grape', 'Orange', 'Banana', 'Cherry', 'Mango']

for f in fruits:
    print(f)

Apple
Grape
Orange
Banana
Cherry
Mango

In [29]:
for f in fruits:
    print(f)
    if f == 'Banana':
        break

Apple
Grape
Orange
Banana

In [30]:
for f in fruits:
    if f == 'Banana':
        break
    else:
        print(f)

Apple
Grape
Orange

In [31]:
for f in fruits:
    if f == 'Banana':
        break
    print(f)

Apple
Grape
Orange

In [32]:
# continue keyword
fruits

['Apple', 'Grape', 'Orange', 'Banana', 'Cherry', 'Mango']

In [33]:
for f in fruits:
    if f == 'Grape':
        continue
    print(f)

Apple
Orange
Banana
Cherry
Mango

In [34]:
range(6)

range(0, 6)

In [35]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [36]:
for num in range(2,11):
    print(num)

2
3
4
5
6
7
8
9
10

In [37]:
for num in range(2,11,2):
    print(num)

2
4
6
8
10

In [39]:
# nested for loop
adj = ['red', 'small', 'large', 'tasty']
fruits = ['Apple', 'Grape', 'Orange', 'Banana', 'Cherry', 'Mango']

for a in adj: # outer loop
    for f in fruits: # inner loop
        if a == 'red' and f == 'Banana':
            continue
        else:
            print(f"a= {a}, f= {f}")
    print(a, "------------------------------------------")

a= red, f= Apple
a= red, f= Grape
a= red, f= Orange
a= red, f= Cherry
a= red, f= Mango
red ------------------------------------------
a= small, f= Apple
a= small, f= Grape
a= small, f= Orange
a= small, f= Banana
a= small, f= Cherry
a= small, f= Mango
small ------------------------------------------
a= large, f= Apple
a= large, f= Grape
a= large, f= Orange
a= large, f= Banana
a= large, f= Cherry
a= large, f= Mango
large ------------------------------------------
a= tasty, f= Apple
a= tasty, f= Grape
a= tasty, f= Orange
a= tasty, f= Banana
a= tasty, f= Cherry
a= tasty, f= Mango
tasty ------------------------------------------

In [40]:
# How to loop using index
names = ["Washington", "Adams", "Jefferson", "Madison", 
         "Monroe", "Adams", "Jackson"]
names

['Washington', 'Adams', 'Jefferson', 'Madison', 'Monroe', 'Adams', 'Jackson']

In [41]:
len(names)

7

In [42]:
range(len(names))

range(0, 7)

In [43]:
for index in range(len(names)):
    print(f'Name index {index}: {names[index]}')

Name index 0: Washington
Name index 1: Adams
Name index 2: Jefferson
Name index 3: Madison
Name index 4: Monroe
Name index 5: Adams
Name index 6: Jackson

In [44]:
for index in range(len(names)):
    print(f'Name {index+1}: {names[index]}')

Name 1: Washington
Name 2: Adams
Name 3: Jefferson
Name 4: Madison
Name 5: Monroe
Name 6: Adams
Name 7: Jackson

In [45]:
# enumerate
for idx, name in enumerate(names):
    print(f'Name {idx}: {names[idx]}')

Name 0: Washington
Name 1: Adams
Name 2: Jefferson
Name 3: Madison
Name 4: Monroe
Name 5: Adams
Name 6: Jackson

In [46]:
for idx, name in enumerate(names,1):
    print(f'Name {idx}: {name}')

Name 1: Washington
Name 2: Adams
Name 3: Jefferson
Name 4: Madison
Name 5: Monroe
Name 6: Adams
Name 7: Jackson

In [47]:
# how to loop over multiple things? Without nested loop
colors = ["red", "green", "blue", "purple"]
ratios = [0.2, 0.3, 0.1, 0.4]

for i, c in enumerate(colors):
    print(f'{ratios[i] * 100}% {c}')

20.0% red
30.0% green
10.0% blue
40.0% purple

In [48]:
# zip()
zipped_lst = list(zip(colors,ratios))
print(zipped_lst)

[('red', 0.2), ('green', 0.3), ('blue', 0.1), ('purple', 0.4)]

In [49]:
for c,r in zipped_lst:
    print(f'{r * 100}% {c}')

20.0% red
30.0% green
10.0% blue
40.0% purple